html, body {
    margin: 0;
} 

.header-inner{
    display: flex;
    align-items: center;
    margin: auto;
    width: 1000px;
    height: 290px;
    background-image: url(images/image.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    
}

h1{
    font-size: 3em;
}

h2 {
    font-size: 2em;
    padding-bottom: 45px;
}


h1, h2 {
    color: whitesmoke;
    margin: auto;
    padding-left: 50px
}

.extMenuBtn {
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    width: 35px;
    height: 35px;

}

.extMenuBtn:hover {
    border: 1px solid rgb(116, 110, 110);
}

.foodList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 15px auto 15px;
    width: 660px;
}

.ingridients {
    color: #8B8B8B;
    font-size: 13px;
    font-family: "Roboto", serif;
}

.itemName {
    font-size: 25px;
    font-family: "Yellowtail", serif;
}

.menuItem {
    padding: 25px 0 25px 0;
    margin: 0 auto 0;
    display: flex;
    width: inherit;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
    font-size: 18px;
}

.extMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foodImg {
    font-size: 5em;
    padding-right: 20px;
}

.lineEndOrder {
    border-bottom: 2px solid #393333;
    margin: 25px 0 0 0;
}

.yourOrder{
    font-size: 2em;
    margin: 25px auto 50px;
    text-align: center;
    
}

.orderListItems, .receipt, .lineEndOrder {
    font-size: 25px;
    width: 660px;
    /* border: 1px solid black; */
    margin: 25px auto 0px;
}


.btn {
    text-align: center;
}

.completeOrderBtn {
    width: 660px;
    height: 50px;
    border-radius: 2%;
    background-color: #16DB99;
    margin: 25px auto;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.oneItem, .receipt {
    display: flex;
    margin: 15px auto;
    justify-content: start;
    align-items: center;
}

.payValue {
    margin: 0 auto 0 0;
}

.price, .extMenu {
    margin: 0 0 0 auto;
}

.removeBtn {
    border: none;
    background-color: white;
    margin: 0 0 0 10px;
    color: #BBBBBB;
}

